<div class="card__container">
    <div class="card-header__container">
        <div *ngIf="headerImage" class="card-header-image__container">
            <img class="card-header-image" src="{{headerImage}}" />
        </div>
        <div class="card-header__content">
            <h3 class="card-header__title">{{title}}</h3>
            <h5 *ngIf="secondaryText" class="card-header__secondary-text">{{secondaryText}}</h5>
        </div>
    </div>
    <div *ngIf="image" class="card-media__container">
        <img class="card-image" src="{{image}}" alt="{{image}}" />
    </div>
    <div class="card-content__container">
        <article class="card-article">{{article}}</article>
    </div>
    <div class="card-action__container" *ngIf="actions">
        <ng-container *ngTemplateOutlet="actions"></ng-container>
    </div>
</div>