.community-news-card__container {
  background: $card-background-color;
  padding: .5rem;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  margin: 0 0 .5rem 0;

  .community-news-card__title, .community-news-card__date {
    padding: 0; margin: 0;
  }

  .community-news-card__title {
    margin: 0 0 .5rem 0;
  }

  .community-news-card__date {
    margin: 0 0 1rem 0;
    font-size: .8rem;
    opacity: .8;
  }

  .community-news-card__text {
    line-height: $line-height-default;
  }
}