<div class="card mb-4">
    <img *ngIf="news.imageUrl" class="card-img-top" [src]="news.imageUrl" alt=""/>
    <div class="card-header">
        <div class="container flex flex-column justify-content-center align-items-center text-center">
            <div>
<!--                <app-avatar [img]="news.icon"></app-avatar>-->
            </div>
            <h3 class="d-inline text-primary">{{news.groupName}}</h3>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title flex">{{news.name}}</h5>
        <h6 class="card-subtitle">{{news.created_at | date}}</h6>
        <p class="card-text">{{news.content | slice:0:200 }}</p>
    </div>
    <div class="card-footer">
        <div class="container">
            <div class="row">
                <div class="offset-10 col-1">
                    <span class="fi fi-rr-share"></span>
                </div>
                <div class="col-1">
                    <span class="fi fi-rr-angle-small-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>
