.home-greeting__container {
  padding: 4rem 0 3rem 0;
  .home-greeting__hello, .home-greeting__name {
    padding: 0; margin: 0;
  }

  .home-greeting__hello {
    font-weight: normal;
    padding: 0 0 .5rem 0;
  }
}

.status__no-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3 {
    padding: .5rem 0; margin: 0;
    font-size: 1rem;
  }

  .follow-link {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: $secondary-color;
  }
}