<div class="container py-4">
    <div class="row">
        <div class="col-xl-2 col-4">
            <img class="img-thumbnail" src="{{data?.icon}}" alt="logo"/>
        </div>
        <div class="col">
            <h2 class="card-title">{{data?.company}}</h2>
            <h3>{{data?.city}}</h3>
            <button *ngIf="hasFiles()" class="btn btn-outline-secondary" (click)="showFiles()"><span class="fi fi-rr-file"></span></button>
        </div>
    </div>
    <div class="row" *ngIf="filesVisible">
        <div class="col-12">
            <h3>Dateien:</h3>
        </div>
        <div class="col-12" *ngFor="let file of data?.File">
            <muko-file [file]="file"></muko-file>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Unser Team</h3>
        </div>
        <div class="col-12 col-md-4 col-xl-3 mb-2" *ngFor="let employee of data?.Employees">
            <muko-employee [employee]="employee"></muko-employee>
        </div>
    </div>
</div>