/// ====== Colors ====== ///

/// ====== Background - primary ====== ///

.bg-primary-100 {
  background: get-primary-color("100");
}

.bg-primary-200 {
  background: get-primary-color("200");
}

.bg-primary-300 {
  background: get-primary-color("300");
}

.bg-primary-400 {
  background: get-primary-color("400");
}

.bg-primary-500 {
  background: get-primary-color("500");
}

.bg-primary-600 {
  background: get-primary-color("600");
}

.bg-primary-700 {
  background: get-primary-color("700");
}

.bg-primary-800 {
  background: get-primary-color("800");
}

.bg-primary-900 {
  background: get-primary-color("900");
}

/// ====== Background - secondary ====== ///

.bg-secondary-100 {
  background: get-secondary-color("100");
}

.bg-secondary-200 {
  background: get-secondary-color("200");
}

.bg-secondary-300 {
  background: get-secondary-color("300");
}

.bg-secondary-400 {
  background: get-secondary-color("400");
}

.bg-secondary-500 {
  background: get-secondary-color("500");
}

.bg-secondary-600 {
  background: get-secondary-color("600");
}

.bg-secondary-700 {
  background: get-secondary-color("700");
}

.bg-secondary-800 {
  background: get-secondary-color("800");
}

.bg-secondary-900 {
  background: get-secondary-color("900");
}
