* {
  color: $text-color;
}

body {
  background: $background-color;
  margin: .5rem;
  font-size: $font-size-default;
  font-family: Arial, serif;
}

input[type="text"] {
  //border-radius: $border-radius-default;
  border: none;
  border-bottom: 2px solid $text-color;
  font-size: 1rem;
}

// buttons
.btn {
  border: none;
  padding: .8rem 1rem;
  border-radius: $border-radius-default;
  font-size: 1rem;
  box-shadow: $box-shadow-default;
  cursor: pointer;

  &.btn-primary {
    border: 2px solid $button-primary-color;
    background: $button-primary-color;
    span {
      color: white;
    }
  }

  &.btn-secondary {
    border: 2px solid $button-secondary-color;
  }
}