* {
  color: $text-color;
}

body {
  background: $background-color;
  margin: .5rem;
  font-size: $font-size-default;
  padding-bottom: 120px;
  line-height: 1.35;
}

input[type="text"] {
  border: none;
  font-size: 1rem;
  padding: .5rem;
}

// buttons
.btn {
  border: none;
  padding: .8rem 1rem;
  border-radius: $border-radius-default;
  font-size: 1rem;
  box-shadow: $box-shadow-default;
  cursor: pointer;

  &.btn-primary {
    border: 2px solid $button-primary-color;
    background: $button-primary-color;

    span {
      color: white;
    }
  }

  &.btn-secondary {
    border: 2px solid $button-secondary-color;
  }
}

.img-card-icon {
  width: 64px;
  height: 64px;
  padding: 0 1rem 0 0;
  object-fit: contain;
}

.card-text {
  padding: .5rem 0;
}

.max-container {
  max-width: 800px !important;
}

a {
  text-decoration: none;

  .fi {
    text-decoration: none;
  }
}