@import "./src/styles/theme/functions";

.kawaii-loader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    color: get-secondary-color();
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 1.2rem;
  }
}