@import "./src/styles/theme/functions";

.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 5px;
  background: white;
  box-shadow: get-shadow("lg");
  border-radius: get-border-radius();
  padding: .5rem 1rem;
  height: 80px;

  .app-bar__leading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .leading-icon {
      width: 30px;
    }

    .app-bar__image {
      img {
        border-radius: 100%;
        box-shadow: get-shadow("lg");
        margin: .2rem;
        object-fit: cover;
        height: 4rem;
        width: 4rem;
      }
    }
  }

  .app-bar__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0;
    padding: .5rem;

    a {
      text-decoration: none;

      span {
        display: flex;
      }
    }
  }
}