@import "./src/styles/theme/functions";
$animationTime: 300ms;

$nav-bar-icon__selected-color: get-primary-color();
$nav-bar-icon__unselected-color: get-secondary-color();

.menu-bar__container {
    background: get-surface-color("navigation");
    display: flex;
    position: fixed;
    bottom: .5rem;
    left: .5rem;
    width: calc(100% - 1rem);
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem 0;
    box-shadow: get-shadow("lg");
    border-radius: get-border-radius();
    z-index: 999;

    .menu-bar__items {
        display: flex;
        justify-content: center;
        max-width: 100%;
        flex: 1;
        font-size: 1.4rem;
        color: $nav-bar-icon__unselected-color;
        text-decoration: none;

        .fi {
            color: $nav-bar-icon__unselected-color;
        }
    }

    .menu-bar__items.selected {
        color: $nav-bar-icon__selected-color;
        font-weight: bold;
        animation: itemSelected $animationTime ease-in-out;

        .fi {
            color: $nav-bar-icon__selected-color;
        }

        &::before {
            animation: dotAnimation $animationTime ease-in-out forwards;
            animation-delay: $animationTime;
            border-radius: 100%;
            position: absolute;
            background: $nav-bar-icon__selected-color;
            bottom: 20px;
            height: 5px;
            width: 5px;
            content: '';
            opacity: 0;
        }
    }
}

@keyframes dotAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes itemSelected {
    33.333% {
        transform: rotate(8deg);
    }

    66.666% {
        transform: rotate(-8deg);
    }
}