.profile {
  .profile-input-text__name {
    font-size: 1.3rem;
    font-weight: bold;
    background: none;
    border: none;
    border-bottom: 2px solid $text-color;
    margin: 1.4rem 0;
    text-align: center;
  }

  .profile-input__file {
    position: absolute;
    opacity: 0;
  }

  .profile-row {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      padding: 0 1rem;
    }
  }

  .profile-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: $border-radius-full;
    box-shadow: $box-shadow-default;
  }
}