<div class="profile">
    <div class="profile-row profile-name__container">
        <img class="profile-image" src="{{getProfileImage()}}" alt="profile image" />
        <input class="profile-input__file" type="file" (change)="setProfileImage($event)" typeof="image/jpg" />
        <span class="fr fi-rr-pencil"></span>
    </div>
    <div class="profile-row profile-name__container">
        <h2 *ngIf="!nameEditMode">{{name}}</h2>
        <input *ngIf="nameEditMode" #nameInput type="text" class="profile-input-text__name" (focusout)="setName(nameInput.value)" value="{{name}}" />
        <span [ngClass]="nameEditMode ? 'fr fi-rr-disk' : 'fr fi-rr-pencil'" (click)="nameEditMode = !nameEditMode"></span>
    </div>
    <div class="profile-row profile-likes__container">
        <article *ngIf="!aboutMeEditMode">{{likes}}</article>
        <input *ngIf="aboutMeEditMode" #likes type="text" class="profile-input__text" (input)="setAboutMe(likes.value)" />
        <span class="fr fi-rr-pencil" (click)="aboutMeEditMode = !aboutMeEditMode"></span>
    </div>
</div>
<p>meine Vitaldaten</p>
<p>mein verlauf</p>
<p>Medikationsplan</p>
<p>meine Lieblingsgerichte</p>
<p>meine vereine</p>
<p>meine ärzte</p>
