<app-app-bar [leftIconLink]="'profil'"
             [profileImage]="profileService.getProfileImage()"
             [rightIconClass]="'fi fi-rr-settings-sliders'" [rightIconLink]="'einstellungen'"></app-app-bar>
<div class="home-greeting__container">
    <h2 class="home-greeting__hello">Hallo,</h2>
    <h2 class="home-greeting__name">{{name}}</h2>
</div>
<div *ngIf="!userHasNews()">
    <h3>Du hast bisher keine Neuigkeiten. <a [routerLink]="'selbsthilfegruppen'">Folge jetzt anderen Communities!</a></h3>
</div>
<div *ngFor="let communityNews of news">
    <app-community-news-card [news]="communityNews"></app-community-news-card>
</div>