@use "sass:map";

/// Generated shades via https://maketintsandshades.com.
/// Optional: generate via https://material.io/design/color/the-color-system.html#tools-for-picking-colors

/// primary color palette
$primary-color: (
  "100": #fabacf,
  "200": #f78daf,
  "300": #f45e8f,
  "400": #f13877,
  "500": #ee025f,
  "normal": #ee025f,
  "600": #dd005c,
  "700": #c70058,
  "800": #b20054,
  "900": #8e004e,
);

/// secondary color palette
$secondary-color: (
  "100": #b7f8d0,
  "200": #7ff3b2,
  "300": #02ee90,
  "400": #00e773,
  "500": #00df5d,
  "normal": #00df5d,
  "600": #00ce51,
  "700": #00ba44,
  "800": #00a738,
  "900": #008622,
);

/// background color of surfaces
$surface-color: (
  "body": #f6f7fb,
  "card": #ffffff,
);

$severity: (
  "success": #22c55e,
  "info": #3b82f6,
  "warning": #f59e0b,
  "danger": #b00020,
);

/// custom colors
$custom-color: ();
