@use "sass:map";

/// Generated shades via https://maketintsandshades.com.
/// Optional: generate via https://material.io/design/color/the-color-system.html#tools-for-picking-colors

/// primary color palette
$primary-color: (
  "100": #b4deda,
  "200": #85c9c3,
  "300": #57b4ab,
  "400": #3aa398,
  "500": #299387,
  "normal": #299387,
  "600": #26867a,
  "700": #22766a,
  "800": #1f665b,
  "900": #194a40,
);

/// secondary color palette
$secondary-color: (
  "100": #ffe0b2,
  "200": #ffcd80,
  "300": #ffb84d,
  "400": #ffa826,
  "500": #ff9800,
  "normal": #ff9800,
  "600": #fb8d00,
  "700": #f57d00,
  "800": #ef6d00,
  "900": #e65200,
);

/// background color of surfaces
$surface-color: (
  "body": #f6f7fb,
  "card": #ffffff,
  "navigation": #ffffff,
);

$severity: (
  "success": #22c55e,
  "info": #3b82f6,
  "warning": #f59e0b,
  "danger": #b00020,
);

/// custom colors
$custom-color: ();
